In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data\mental_health_analysis.csv')
df.head()

,User_ID,Age,Gender,Social_Media_Hours,Exercise_Hours,Sleep_Hours,Screen_Time_Hours,Survey_Stress_Score,Wearable_Stress_Score,Support_System,Academic_Performance
0,1,16,F,9.654486,2.458001,5.198926,8.158189,3,0.288962,Moderate,Excellent
1,2,17,M,9.158143,0.392095,8.866097,5.151993,5,0.409446,Moderate,Good
2,3,15,M,5.028755,0.520119,4.943095,9.209325,2,0.423837,Moderate,Poor
3,4,17,F,7.951103,1.022630,5.262773,9.823658,5,0.666021,Moderate,Average
4,5,17,F,1.357459,1.225462,6.196080,11.338990,5,0.928060,High,Poor

In [2]:
df.isnull().sum()

User_ID                  0
Age                      0
Gender                   0
Social_Media_Hours       0
Exercise_Hours           0
Sleep_Hours              0
Screen_Time_Hours        0
Survey_Stress_Score      0
Wearable_Stress_Score    0
Support_System           0
Academic_Performance     0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   User_ID                5000 non-null   int64
 1   Age                    5000 non-null   int64
 2   Gender                 5000 non-null   object
 3   Social_Media_Hours     5000 non-null   float64
 4   Exercise_Hours         5000 non-null   float64
 5   Sleep_Hours            5000 non-null   float64
 6   Screen_Time_Hours      5000 non-null   float64
 7   Survey_Stress_Score    5000 non-null   int64
 8   Wearable_Stress_Score  5000 non-null   float64
 9   Support_System         5000 non-null   object
 10  Academic_Performance   5000 non-null   object
dtypes: float64(5), int64(3), object(3)
memory usage: 429.8+ KB

In [4]:
df['Age'].unique()

array([16, 17, 15, 14, 18, 13], dtype=int64)

In [5]:

df['Gender'].unique()

array(['F', 'M'], dtype=object)

In [6]:

df['Social_Media_Hours'].unique()

array([9.65448635, 9.15814348, 5.0287552 , ..., 3.44438288, 7.86652516,
       3.3893622 ])

In [7]:
df['Exercise_Hours'].unique()

array([2.45800126, 0.39209476, 0.52011947, ..., 2.87797171, 2.39583905,
       1.37564631])

In [8]:

df['Sleep_Hours'].unique()

array([5.19892552, 8.86609666, 4.94309483, ..., 9.22772581, 4.31783065,
       8.69317051])

In [9]:
df['Screen_Time_Hours'].unique()

array([ 8.158189  ,  5.15199347,  9.20932548, ...,  4.0593215 ,
       10.65707606,  6.97758939])

In [10]:
df['Survey_Stress_Score'].unique()

array([3, 5, 2, 4, 1], dtype=int64)

In [11]:
df['Wearable_Stress_Score'].unique()

array([0.28896225, 0.40944616, 0.42383749, ..., 0.00289332, 0.61206318,
       0.95266248])

In [12]:
df['Support_System'].unique()

array(['Moderate', 'High', 'Low'], dtype=object)

In [13]:

df['Academic_Performance'].unique()

array(['Excellent', 'Good', 'Poor', 'Average'], dtype=object)